*{  
    top: 0;
    left: 0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-color: antiquewhite;
}
.enlaces{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:20px;
width:  20px;

}